<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITI_UMY" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceRest_098_Nashrul/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITI_UMY"
                contract="ServiceReference1.ITI_UMY" name="BasicHttpBinding_ITI_UMY" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior0">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior0">
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest_098_Nashrul.TI_UMY">
                <endpoint address="" behaviorConfiguration="EndpointBehavior0"
                    binding="webHttpBinding" bindingConfiguration="" contract="ServiceRest_098_Nashrul.ITI_UMY" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>